name: CI

on:
  push:
    branches:
      - 'main'
  pull_request: {}

jobs:
  ci:
    uses: workos/workflows/.github/workflows/ci.yml@main
    with:
      lint-command: prettier
      run-typecheck: false  # No typecheck script in package.json
      test-command: test:coverage -- --run
