name: Release

on:
  # Support manually pushing a new release
  workflow_dispatch: {}
  # Trigger when a release is published
  release:
    types: [published]

jobs:
  publish:
    uses: workos/workflows/.github/workflows/npm-release.yml@main
    permissions:
      contents: read
      id-token: write
    with:
      dry-run: true
